<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<select id="list" resultType="com.audio.VO.boardVO">
	SELECT
		bno, title, content, writer, regDate, viewCnt
	FROM tbl_board
	
	</select>
	
	<insert id="board_write" parameterType="com.audio.VO.boardVO">
	insert into
	tbl_board(title, content, writer)
		values(#{title}, #{content}, #{writer})
	
	</insert>
	
	<select id="board_view" parameterType="int" resultType="com.audio.VO.boardVO">
	select
		bno, title, content, writer, regDate, viewCnt
		
	from
		tbl_board
	where
		bno = #{bno}
	
	</select>
	
	<update id="board_modify" parameterType="com.audio.VO.boardVO">
		UPDATE tbl_board
			SET	title = #{title},
				content = #{content},
				writer = #{writer}
			WHERE
				 bno = #{bno}
	</update>
	<update id="board_update" parameterType="com.audio.VO.boardVO">
		update tbl_board
			 set 
			 	title = #{title},
			 	content = #{content},
			 	writer = #{writer}
			 where bno = #{bno}
	</update>
	
	<delete id="board_delete" parameterType="int">
		delete
			from tbl_board
		where bno = #{bno}
	</delete>
	
	<select id ="count" resultType="int">
		select count(bno) from tbl_board
	</select>
	
	<select id="listPage" parameterType="hashMap" resultType="com.audio.VO.boardVO">
		 select
		  bno, title, writer, regDate, viewCnt
		 from tbl_board
		 order by bno desc
		  limit #{displayPost}, #{postNum}
</select>
<select id="listPageSearch" parameterType="hashMap" resultType="com.audio.VO.boardVO">
 select
  bno, title, writer, regDate, viewCnt
 from tbl_board
 
 <if test='searchType.equals("title")'>
  WHERE title LIKE concat('%', #{keyword}, '%')
 </if>
 
 <if test='searchType.equals("content")'>
  WHERE content LIKE concat('%', #{keyword}, '%')
 </if>
 
 <if test='searchType.equals("title_content")'>
  WHERE title LIKE concat('%', #{keyword}, '%') 
   or content LIKE concat('%', #{keyword}, '%')
 </if>
 
 <if test='searchType.equals("writer")'>
  WHERE writer LIKE concat('%', #{keyword}, '%')
 </if>
 
 order by bno desc
  limit #{displayPost}, #{postNum}
</select> 


	
	
</mapper>
