<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">


	<!-- 회원 가입 부분 -->
	<insert id="Join">
		insert into members(mem_id, mem_pass, mem_name, mem_phone)
			values(#{mem_id}, #{mem_pass}, #{mem_name}, #{mem_phone})
	</insert>
	
	<select id="Login" resultType="com.audio.userVO.userVO">
		select
			mem_id, mem_pass, mem_name, mem_phone
		from
			members
		where mem_id = #{mem_id}
	</select>


</mapper>